@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #0c1013 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.table-bordered td {
  border: none !important;
}

a {
  transition: opacity 0.1s;
}

a,
a:hover {
  color: white;
}

a:hover {
  opacity: 0.8;
}

.logo-link:hover {
  opacity: 1;
}

.MuiBox-root {
  padding: 0 !important;
}

.MuiTabs-indicator {
  background-color: #94DD3C !important;
}

.modal {
  transition: opacity 0.25s ease;
}

.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}